.address-form > input,
.payment-form > input {
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.address-form > h3,
.payment-form > h3 {
  text-align: left;
}
.address-form > label,
.payment-form > label {
  text-align: left;
  display: block;
}
.numbers-card > input {
  width: 10%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.numbers-card > label {
  display: inline;
  margin: 1%;
}
.numbers-card {
  margin-bottom: 2%;
}
