.sidebar {
  background-color: #ebf9ff;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.sidebar a {
  color: hsl(0, 0%, 0%);
}
.sidebar a:hover {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
}

.sidebar ul {
  list-style: none;
}
