.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #ffc400;
}

.content {
  background-color: white;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-division {
  display: flex;
}

.page-content {
  flex-grow: 5;
}

#create-product-form {
  text-align: left;
}

.page-title {
  margin-top: 8px;
  margin-bottom: 10px;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #ffc400;
  border-color: #ffc400;
  color: #000000;
}

.btn-primary:hover {
  background-color: #ffc400;
  border-color: #ffc400;
  font-weight: bolder;
  color: #000000;
}

.btn-danger:hover {
  font-weight: bolder;
}


.form-control {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#user-profile-form {
  padding: 10px 10%;
  padding-bottom: 20px;
  text-align: left;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.fileContainer {
  color: #5a5c69;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  float: left;
  padding: .5em;
  margin-bottom: 15px;
  margin-right: 15px;
}

.fileContainer:hover {
  color: #ffffff;
  background-color: #5a5c69;
  border: 1px solid #ffffff;
}

.fileContainer [type=file] {
  cursor: pointer;
}

.img-preview {
  padding: 12px;
}

.img-preview img {
 width: 220px;
 height: auto;
}